<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./css/Checkout.css')}}">
    <title>Lincoln St. Cafe - Checkout </title>
</head>
<body id="container">
    <div id="topNav">
        <div> 
            <h1> <a href="/lincolnstcafe" id="text1"> Lincoln St. Cafe </a> </h1>
        </div>
        <div id="header"> 
            <h3 class="mr-2" id="text2"> <a href="/lincolnstcafe/cart/view" id="text2"> Cart </a> ( {{ session["cart_length"] }} ) </h3> 
        </div>
    </div>
    <div id="midNav">
        <h3> <a href="/lincolnstcafe/pizza" id="text2"> Pizzas </a> </h3>
        <h3> <a href="/lincolnstcafe/pasta" id="text2"> Pastas </a> </h3>
        <h3> <a href="/lincolnstcafe/sandwich" id="text2"> Sandwiches </a> </h3>
        <h3> <a href="/lincolnstcafe/pastry" id="text2"> Pastries </a> </h3>
        <h3> <a href="/lincolnstcafe/drink" id="text2"> Drinks </a> </h3>
    </div>
    <div class="container" id="bottomNav">
        <div class="p-2">
            <form action="/lincolnstcafe/cart/checkout/post" method="POST">
                <div class="form-group">
                    <label> Email: </label>
                    <input type="text" name="email" class="form-control">
                    {% for message in get_flashed_messages(category_filter=["err_email_1"]) %}
                        <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                    {% for message in get_flashed_messages(category_filter=["err_email_2"]) %}
                        <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                </div>
                <p> Payment Information: </p>
                <div class="form-group">
                    <label> First Name: </label>
                    <input type="text" name="first_name" class="form-control">
                    {% for message in get_flashed_messages(category_filter=["err_first_name"]) %}
                        <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label> Last Name: </label>
                    <input type="text" name="last_name" class="form-control">
                    {% for message in get_flashed_messages(category_filter=["err_last_name"]) %}
                        <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label> Card Number: </label>
                    <input type="text" name="card_number" class="form-control">
                    {% for message in get_flashed_messages(category_filter=["err_card_number"]) %}
                        <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <p> Expiration Date: </p>
                    <div>
                        <label> Month: </label>
                        <select name="expiration_month" class="form-control">
                            <option value="01"> 01 </option>
                            <option value="02"> 02 </option>
                            <option value="03"> 03 </option>
                            <option value="04"> 04 </option>
                            <option value="05"> 05 </option>
                            <option value="06"> 06 </option>
                            <option value="07"> 07 </option>
                            <option value="08"> 08 </option>
                            <option value="09"> 09 </option>
                            <option value="10"> 10 </option>
                            <option value="11"> 11 </option>
                            <option value="12"> 12 </option>
                        </select>
                    </div>
                    <div>
                        <label> Year: </label>
                        <select name="expiration_year" class="form-control">
                            <option value="2023"> 2023 </option>
                            <option value="2024"> 2024 </option>
                            <option value="2025"> 2025 </option>
                            <option value="2026"> 2026 </option>
                            <option value="2027"> 2027 </option>
                            <option value="2028"> 2028 </option>
                            <option value="2029"> 2029 </option>
                            <option value="2030"> 2030 </option>
                        </select>
                    </div>
                    {% for message in get_flashed_messages(category_filter=["err_invalid_expiration_date"]) %}
                        <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                </div>
                <div class="form-group">
                    <label> Security Code: </label>
                    <input type="text" name="security_code" class="form-control">
                    {% for message in get_flashed_messages(category_filter=["err_security_code"]) %}
                        <p class="alert alert-danger"> {{message}} </p>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-success"> Confirm Order </button>
            </form>
        </div>
        <div id="detail">
            <div id="optionBox1">
                <h1> Review Cart: </h1>
            </div>
            {% for dict in session["cart"] %}
            <div id="optionBox1">
                <h2> {{ dict["name"] }} </h2>
                <h3> Quantity : {{ dict["quantity"] }} </h3>
                <h4> Total : ${{ dict["total_price"] }} </h4>
            </div>
            {% endfor %}
            <div id="optionBox2">
                <h2> Total Quantity : {{ session["cart_length"] }} </h2>
                <h3> Subtotal : ${{ session["subtotal"] }} </h3>
                <h4> <a href="/lincolnstcafe/cart/view"> Edit Cart </a> </h4>
            </div>
        </div>
    </div>
    <div align="center" class="mt-4">
        <h6 style="color:red"> (DISCLAIMER : No debit/card card information will be processed.) </h6>
    </div>
</body>
</html>